* {
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

a {
  text-decoration:0;
}

header {
  width: 100%;
  background-color: #626363;
  color: #fff;
}

h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.container .logo {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 0;
}

.container .logo p {
  display: inline;
}

ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
  display: inline-block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

header ul li a:hover {
  color:#2b9ec2;
}

header ul li .goo {
  color:#2b9ec2;
}

.toggle-btn {
  position: absolute;
  top: 15px;
  right: 30px;
  justify-content: space-between;
  flex-direction: column;
  height: 22px;
  width:32px;
  display: none;
}

.toggle-btn .bar {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.container {
  max-width:1170px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper {
  padding:300px 0 60px 0;
  color:white;
  background-image:url(assets/10.jpg);
  background-size:cover;
  text-align: left;
}

.top-wrapper h1 {
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
  margin-bottom:10px;
  text-shadow: 3px 3px black;
}

.top-wrapper p {
  opacity:0.7;
  margin-bottom:5px;
  text-shadow: 2px 2px black;
}

.btn-wrapper {
  margin: 20px 0;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

/* tentang saya */
.section {
  width: 100%;
  height:550px;
}

.about-us {
  width:100%;
}

.about-us h2 {
  text-align: center;
  font-size: 40px;
  color: #2b9ec2;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 39px;
}

.about-us h2::after {
  content:"";
  height: 5px;
  width:300px;
  background-color:#2b9ec2;
  border-radius: 10px;
  display: block;
  margin:auto;
}

.wrap {
  padding:0 60px;
  margin: 60px auto;
}

.content {
  width: 60%;
  float: left;
  padding:0 30px;
  color : black;
}

.content  h2{
  letter-spacing: 1px;
}

.content p{
  font-size: 17px;
  margin-top:20px;
  margin-bottom: 40px;
  text-align: justify;
}

.content-button {
  margin-top:40px;
}

.content .button a{
  color:#fff;
  background-color: #2b9ec2;
  border: 1px solid #2b9ec2;
  padding: 10px 14px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 17px;
  border-radius: 4px;
}

.content .button a:hover {
  background-color: #fff;
  color: #2b9ec2;
}

.image-section {
  width: 35%;
  float:right;
  padding: 0 40px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Work Experience */
.work-ex:before, .work-ex:after {
  box-sizing: inherit;
}
.row h2 {
  text-align: center;
  font-size: 34px;
  color: #2b9ec2;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 39px;
}

.row h2::after {
  height: 5px;
  width:300px;
  background-color:#2b9ec2;
  border-radius: 10px;
  display: block;
  margin:auto;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 40px;
  padding: 0 8px;
}

.conta {
  padding: 0 16px;
}

.car img {vertical-align: middle;}

.car .conta {
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
}

.conta::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.car {
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.car h4 {
  font-size: 25px;
  padding-top: 10px;
}

.car p {
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* image sliding */

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* contact form */
.section-title {
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  margin-bottom:50px;
  padding-bottom:15px;
}

.contact-form {
  padding-top:30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
}

input , textarea {
  width:350px;
  margin-top:10px;
  margin-bottom:30px;
  padding:17px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit {
  background-color:#2b9ec2;
  color:#000;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  background-color: #626363;
  padding-top: 20px;
  height:70px;
  color:white;
}

.footer-logo {
  float:left;
  font-size:30px;
  font-weight: bold;
  text-transform: uppercase;
}

.dark-mode {
  background-color: #292c35;
  color: white !important;
}

.the-dark {
  background-color: black;
  color:white;
}